<q-dialog
  v-if="inventoryDialog"
  v-model="inventoryDialog.show"
  position="top"
  @hide="closeInventoryDialog"
>
  <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
    <q-form @submit="submitInventoryData" class="q-gutter-md">
      <q-input
        filled
        dense
        v-model.trim="inventoryDialog.data.name"
        label="Name *"
      ></q-input>
      <q-select
        v-if="'{{LNBITS_DENOMINATION}}' == 'sats'"
        filled
        dense
        emit-value
        v-model="inventoryDialog.data.currency"
        :options="currencyOptions"
        label="Currency *"
        :disable="inventory !== null"
      ></q-select>
      <q-select
        filled
        dense
        multiple
        use-input
        use-chips
        hide-dropdown-icon
        new-value-mode="add-unique"
        v-model="inventoryDialog.data.tags"
        label="Allowed Tags"
        hint="Inventory tags for grouping or service scoping (e.g., soap, candles, webshop-only, pos-only)"
      ></q-select>
      <q-select
        filled
        dense
        multiple
        use-input
        use-chips
        hide-dropdown-icon
        new-value-mode="add-unique"
        v-model="inventoryDialog.data.omit_tags"
        label="Omit Tags"
        hint="Tags used to exclude products (e.g., not_for_pos, not_for_webshop)"
      ></q-select>
      <q-input
        filled
        dense
        type="number"
        v-model.number="inventoryDialog.data.global_discount_percentage"
        label="Global Discount Percentage (0-100 %)"
        step="0.01"
        min="0"
        max="100"
      >
        <q-tooltip>
          <span
            v-text="'Apply a global discount to all items in this inventory. Enter a value between 0 and 100. Leave empty or set to 0 for no discount.'"
          ></span>
        </q-tooltip>
      </q-input>
      <q-input
        filled
        dense
        type="number"
        v-model.number="inventoryDialog.data.default_tax_rate"
        label="Default Tax Rate (0-100 %)"
        step="0.01"
        min="0"
        max="100"
        hint="Apply a default tax rate to all items in this inventory."
      >
        <q-tooltip>
          <span
            v-text="'Apply a default tax rate to all items in this inventory. Enter a value between 0 and 100. Leave empty or set to 0 for no tax.'"
          ></span>
        </q-tooltip>
      </q-input>
      <q-toggle
        v-model="inventoryDialog.data.is_tax_inclusive"
        label="Tax Inclusive (Applies to all products)"
      >
        <q-tooltip>
          <span v-text="'Whether the prices include tax or not.'"></span>
        </q-tooltip>
      </q-toggle>
      <q-card-section v-if="inventoryDialog.data.id" class="q-px-none">
        <q-expansion-item
          expand-separator
          label="Delete Inventory"
          header-class="text-negative"
        >
          <q-card>
            <q-card-section>
              <div class="text-subtitle2 q-mt-sm">
                Deleting this inventory will remove all its items and cannot be
                undone. Please proceed with caution.
              </div>
            </q-card-section>
            <q-card-actions align="center">
              <q-btn
                unelevated
                color="negative"
                label="Delete Inventory"
                @click="deleteInventory(inventoryDialog.data.id)"
              ></q-btn>
            </q-card-actions>
          </q-card>
        </q-expansion-item>
      </q-card-section>
      <q-card-actions class="q-mt-lg" align="between">
        <q-btn v-close-popup flat color="grey">Cancel</q-btn>
        <q-btn
          v-if="inventoryDialog.data.id"
          unelevated
          color="primary"
          type="submit"
          :disable="createOrUpdateDisabled()"
          >Update Inventory</q-btn
        >
        <q-btn
          v-else
          unelevated
          color="primary"
          :disable="createOrUpdateDisabled()"
          type="submit"
          >Create Inventory</q-btn
        >
      </q-card-actions>
    </q-form>
  </q-card>
</q-dialog>

<!-- TODO: Make the whole dialog a component -->
<q-dialog
  v-if="itemDialog"
  v-model="itemDialog.show"
  persistent
  maximized
  transition-show="slide-up"
  transition-hide="slide-down"
  @hide="closeItemDialog"
>
  <q-card class="">
    <q-bar class="q-mb-md">
      <span v-text="itemDialog.data.id ? 'Edit Item' : 'Create Item'"></span>
      <q-space></q-space>
      <q-btn dense flat icon="close" v-close-popup>
        <q-tooltip class="bg-white text-primary">Close</q-tooltip>
      </q-btn>
    </q-bar>
    <q-form
      @submit="submitItemData"
      class="q-pa-md q-col-gutter-md"
      :class="{'q-mx-auto': $q.screen.gt.sm}"
      style="max-width: 1024px"
    >
      <separator-text text="Identify"></separator-text>
      <div class="row q-col-gutter-md">
        <div class="col-12 col-sm-6">
          <q-input
            filled
            dense
            v-model.trim="itemDialog.data.name"
            label="Name *"
            placeholder="Item Name"
          ></q-input>
          <q-input
            filled
            dense
            v-model.trim="itemDialog.data.description"
            label="Description"
            class="q-mt-xs"
            autogrow
            placeholder="Detailed description of the item"
          ></q-input>
        </div>
        <div class="col-12 col-sm-6">
          <div class="col-12 col-md-6">
            <photo-gallery-form
              v-model="itemDialog.gallery"
              :max="5"
              label="Item Photos (Optional)"
              hint="Upload images to the item."
            ></photo-gallery-form>
          </div>
        </div>
      </div>
      <separator-text text="Pricing"></separator-text>
      <div class="row q-col-gutter-md">
        <div class="col-12 col-sm-6 col-md-3">
          <q-input
            filled
            dense
            v-model.number="itemDialog.data.price"
            :min="0"
            :type="'number'"
            :step="allowCurrencyDecimals ? '0.01' : '1'"
            :placeholder="checkIsSat(itemDialog.currency) ? '0' : '0.00'"
            :label="`Price (${itemDialog.currency}) *`"
            hint="How much you want to sell this item for."
            input-class="text-right"
          ></q-input>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <q-input
            filled
            dense
            v-model.number="itemDialog.data.unit_cost"
            :min="0"
            :type="'number'"
            :step="allowCurrencyDecimals ? '0.01' : '1'"
            :placeholder="checkIsSat(itemDialog.currency) ? '0' : '0.00'"
            :label="`Unit Cost (${itemDialog.currency}) *`"
            hint="Your cost per unit"
            input-class="text-right"
          ></q-input>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <q-input
            filled
            dense
            v-model.number="itemDialog.data.discount"
            label="Discount (0-100 %)"
            step="0.01"
            min="0"
            max="100"
            hint="Overrides the inventory's default discount."
          ></q-input>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <q-input
            filled
            dense
            v-model.number="itemDialog.data.tax_rate"
            label="Tax Rate (0-100 %)"
            step="0.01"
            min="0"
            max="100"
            hint="Overrides the inventory's default tax rate."
          ></q-input>
        </div>
      </div>
      <separator-text text="Inventory"></separator-text>
      <div class="row q-col-gutter-md">
        <div class="col-12 col-sm-6 col-md-3">
          <q-input
            filled
            dense
            v-model.trim="itemDialog.data.sku"
            label="SKU"
            placeholder="Stock Keeping Unit"
          ></q-input>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <q-input
            filled
            dense
            v-model.number="itemDialog.data.quantity_in_stock"
            min="0"
            type="number"
            label="Stock Quantity"
            placeholder="How many items you have in stock."
          ></q-input>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <q-input
            filled
            dense
            v-model.number="itemDialog.data.reorder_threshold"
            type="number"
            min="0"
            label="Reorder Threshold"
            hint="The minimum stock level before reordering."
          ></q-input>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <q-input
            filled
            dense
            v-model.number="itemDialog.data.weight_grams"
            type="number"
            min="0"
            label="Weight (g)"
            hint="Optional weight in grams."
          ></q-input>
        </div>
      </div>
      <div class="row q-col-gutter-md">
        <div class="col-12 col-sm-4">
          <q-input
            filled
            dense
            v-model.trim="itemDialog.data.external_id"
            label="External ID"
            hint="External reference"
          ></q-input>
        </div>
        <div class="col-12 col-sm-4">
          <q-select
            filled
            dense
            multiple
            use-chips
            color="primary"
            :options="inventory.tags"
            v-model="itemDialog.data.tags"
            label="Tags"
            hint="Select tags for this item"
          >
          </q-select>
        </div>
        <div class="col-12 col-sm-4">
          <q-select
            filled
            dense
            multiple
            use-chips
            color="negative"
            :options="inventory.omit_tags || []"
            v-model="itemDialog.data.omit_tags"
            label="Omit Tags"
            hint="Select exclusion tags for this item"
          >
          </q-select>
        </div>
      </div>
      <q-input
        type="textarea"
        filled
        dense
        v-model.trim="itemDialog.data.internal_note"
        label="Notes"
      ></q-input>
      <q-toggle
        v-if="itemDialog.data.id"
        v-model="itemDialog.data.is_active"
        label="Is Active"
      ></q-toggle>

      <q-card-actions class="q-mt-lg" align="between">
        <q-btn v-close-popup flat color="grey">Cancel</q-btn>
        <q-btn
          unelevated
          color="primary"
          type="submit"
          :label="itemDialog.data.id ? 'Update Item' : 'Create Item'"
          :disable="!itemDialog.data.name || !itemDialog.data.price"
        >
        </q-btn>
      </q-card-actions>
    </q-form>
  </q-card>
</q-dialog>

<q-dialog
  v-if="managerDialog"
  v-model="managerDialog.show"
  position="top"
  @hide="closeManagerDialog"
>
  <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
    <q-form @submit="submitManagerData" class="q-gutter-md">
      <q-input
        filled
        dense
        v-model.trim="managerDialog.data.name"
        label="Manager Name *"
        hint="Manager identifier for your reference"
      ></q-input>
      <q-input
        filled
        dense
        v-model.trim="managerDialog.data.email"
        label="Manager Email (Optional)"
      ></q-input>
      <q-card-actions class="q-mt-lg" align="between">
        <q-btn v-close-popup flat color="grey">Cancel</q-btn>
        <q-btn
          v-if="managerDialog.data.id"
          unelevated
          color="primary"
          type="submit"
          :disable="!managerDialog.data.name"
          >Update Manager</q-btn
        >
        <q-btn
          v-else
          unelevated
          color="primary"
          :disable="!managerDialog.data.name"
          type="submit"
          >Create Manager</q-btn
        >
      </q-card-actions>
    </q-form>
  </q-card>
</q-dialog>
