{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div>
  {% include "inventory/_dialogs.html" %}
  <div class="justify-center">
    <q-separator class="q-my-md"></q-separator>
    <!-- <h5 class="q-mb-lg"><span v-text="inventory.name"></span></h5> -->
    <q-toolbar class="q-pb-lg q-px-none">
      <q-btn-toggle
        v-model="tab"
        flat
        stretch
        toggle-color="primary"
        :options="tabOptions"
      ></q-btn-toggle>
      <q-space></q-space>
      <q-btn
        flat
        color="grey-6"
        icon="settings"
        :class="{'wiggle-settings': !inventory}"
        @click="showInventoryDialog(inventory && inventory.id)"
      ></q-btn>
    </q-toolbar>
    <section v-if="tab === 'items'">
      <q-toolbar class="q-mb-md q-px-none">
        <q-btn
          color="primary"
          label="Add Item"
          :disable="!inventory"
          @click="showItemDialog()"
        ></q-btn>
        <q-btn flat color="grey-6" class="q-ml-md">
          <q-icon
            :name="itemGrid ? 'view_list' : 'grid_view'"
            @click="toggleItemView"
          ></q-icon>
          <q-tooltip>
            <span
              v-text="itemGrid ? 'Switch to List View' : 'Switch to Grid View'"
            ></span>
          </q-tooltip>
        </q-btn>
        <q-space></q-space>
        <q-input
          standout
          dense
          debounce="300"
          color="primary"
          v-model="itemsTable.search"
          @keyup.enter="getItemsPaginated"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </q-toolbar>
      <div
        v-if="inventoryLoaded && !items.length && !loadingItems"
        class="flex flex-center q-py-xl"
      >
        <q-card class="q-my-xl q-pa-lg">
          <q-card-section class="text-center">
            <div
              class="text-h6"
              v-text="inventory ? 'No items yet...' : 'Before you can add items please complete the inventory settings.'"
            ></div>
            <div class="text-subtitle2" v-if="inventory">
              You haven't created any items yet. Click the button below to get
              started.
            </div>
          </q-card-section>
          <q-card-actions align="center">
            <q-btn
              color="primary"
              label="Add Item"
              :disable="!inventory"
              @click="showItemDialog()"
            >
            </q-btn>
          </q-card-actions>
        </q-card>
      </div>
      <template v-if="itemGrid">
        <div class="q-pb-xl">
          <div class="row q-col-gutter-md">
            <div
              class="col-12 col-sm-4 col-lg-3 items-stretch"
              v-for="item in items"
              :key="item.id"
            >
              <item-card
                :item="item"
                :currency="inventory ? inventory.currency : openInventoryCurrency"
                @edit="showItemDialog(item.id)"
                @delete="deleteItem(item.id)"
              ></item-card>
            </div>
          </div>
        </div>
        <q-card-actions
          class="bg-transparent absolute-bottom"
          align="center"
          v-if="items.length"
        >
          <q-pagination
            v-model="itemsTable.pagination.page"
            :min="1"
            :max="Math.ceil(itemsTable.pagination.rowsNumber / itemsTable.pagination.rowsPerPage)"
            :input="true"
            input-class="text-accent"
            @update:model-value="itemsTabPagination"
            boundary-links
          >
          </q-pagination>
        </q-card-actions>
      </template>
      <template v-else>
        <q-card v-if="items.length" class="q-pa-lg">
          <q-table
            flat
            bordered
            title="Items"
            :rows="items"
            :columns="itemsTable.columns"
            row-key="id"
            v-model:pagination="itemsTable.pagination"
            @request="getItemsPaginated"
            :loading="loadingItems"
            title="Items"
            no-data-label="No items yet..."
            no-results-label="No results found"
          >
            <template v-slot:header="props">
              <q-tr :props="props">
                <q-th auto-width></q-th>
                <q-th v-for="col in props.cols" :key="col.name" :props="props"
                  ><span v-text="col.label"></span
                ></q-th>
              </q-tr>
            </template>
            <template v-slot:body-cell-tags="props">
              <q-td :props="props">
                <template v-if="props.row.tags && props.row.tags.length">
                  <q-chip
                    v-for="tag in props.row.tags"
                    :key="tag"
                    dense
                    color="primary"
                    text-color="white"
                    class="q-mr-xs q-mb-xs"
                  >
                    {{ tag }}
                  </q-chip>
                </template>
                <span v-else>-</span>
              </q-td>
            </template>
            <template v-slot:body-cell-omit_tags="props">
              <q-td :props="props">
                <template
                  v-if="props.row.omit_tags && props.row.omit_tags.length"
                >
                  <q-chip
                    v-for="tag in props.row.omit_tags"
                    :key="tag"
                    dense
                    color="negative"
                    text-color="white"
                    class="q-mr-xs q-mb-xs bg-negative text-white"
                  >
                    {{ tag }}
                  </q-chip>
                </template>
                <span v-else>-</span>
              </q-td>
            </template>
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td auto-width class="q-gutter-x-sm">
                  <q-btn
                    flat
                    unlevated
                    size="sm"
                    padding="md"
                    color="grey-6"
                    dense
                    @click="deleteItem(props.row.id)"
                    icon="delete"
                  ></q-btn>
                  <q-btn
                    flat
                    unlevated
                    size="sm"
                    padding="md"
                    color="grey-6"
                    dense
                    @click="showItemDialog(props.row.id)"
                    icon="edit"
                  ></q-btn>
                </q-td>
                <q-td v-for="col in props.cols" :key="col.name" :props="props">
                  <template
                    v-if="
                      col.name === 'tags' &&
                      (Array.isArray(props.row.tags)
                        ? props.row.tags.length
                        : !!(props.row.tags || '').length)
                    "
                  >
                    <q-chip
                      v-for="tag in (Array.isArray(props.row.tags) ? props.row.tags : (props.row.tags || '').split(','))"
                      :key="tag"
                      dense
                      color="primary"
                      text-color="white"
                      class="q-mr-xs q-mb-xs"
                    >
                      <span v-text="tag"></span>
                    </q-chip>
                  </template>
                  <template
                    v-else-if="
                      col.name === 'omit_tags' &&
                      (Array.isArray(props.row.omit_tags)
                        ? props.row.omit_tags.length
                        : !!(props.row.omit_tags || '').length)
                    "
                  >
                    <q-chip
                      v-for="tag in (Array.isArray(props.row.omit_tags) ? props.row.omit_tags : (props.row.omit_tags || '').split(','))"
                      :key="tag"
                      dense
                      color="negative"
                      text-color="white"
                      class="q-mr-xs q-mb-xs bg-negative text-white"
                    >
                      <span v-text="tag"></span>
                    </q-chip>
                  </template>
                  <template v-else>
                    <span v-text="col.value"></span>
                  </template>
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </q-card>
      </template>
    </section>
    <section v-if="tab === 'managers'">
      <q-toolbar class="q-mb-md q-px-none">
        <q-btn
          color="primary"
          label="Add Manager"
          @click="managerDialog.show = true"
        ></q-btn>
      </q-toolbar>
      <div class="row">
        <q-list bordered class="col-12 rounded-borders">
          <q-expansion-item
            v-for="manager in managers"
            :key="manager.id"
            expand-separator
            icon="perm_identity"
            :label="manager.name"
            :caption="manager.email"
            @show="getManagerItems(manager.id)"
          >
            <q-card>
              <q-card-section>
                <div class="q-pa-md">
                  <div class="row items-center q-gutter-md">
                    <q-btn
                      color="primary"
                      label="Dashboard"
                      :href="`/inventory/manager?manager_id=${manager.id}`"
                      target="_blank"
                    ></q-btn>
                    <q-select
                      dense
                      filled
                      multiple
                      use-chips
                      :options="inventory?.tags || []"
                      v-model="manager.selectedTags"
                      label="Allowed tags"
                      emit-value
                      @update:model-value="updateManagerTags(manager, $event)"
                      :loading="managerTagLoading[manager.id] || false"
                      :disable="!inventory?.tags?.length"
                      style="min-width: 260px"
                    >
                      <template v-slot:prepend>
                        <q-icon name="sell" />
                      </template>
                      <template v-slot:hint>
                        Select which tags this manager can access
                      </template>
                    </q-select>
                    <q-space></q-space>
                    <div class="row items-center q-gutter-xs">
                      <q-btn
                        flat
                        color="grey-6"
                        size="sm"
                        padding="md"
                        icon="edit"
                        @click="showManagerDialog(manager.id)"
                      >
                        <q-tooltip class="bg-white text-primary"
                          >Edit</q-tooltip
                        >
                      </q-btn>
                      <q-btn
                        flat
                        color="grey-6"
                        size="sm"
                        padding="md"
                        icon="delete"
                        @click="deleteManager(manager.id)"
                      >
                        <q-tooltip class="bg-white text-primary"
                          >Delete</q-tooltip
                        >
                      </q-btn>
                    </div>
                  </div>
                </div>
              </q-card-section>
              <q-card-section>
                <q-table
                  flat
                  bordered
                  title="Items"
                  :rows="items"
                  :columns="itemsTable.columns"
                  row-key="id"
                  v-model:pagination="itemsTable.pagination"
                  @request="getManagerItems(manager.id)"
                  :loading="loadingItems"
                  no-data-label="No items submitted by this manager"
                  no-results-label="No results found"
                >
                  <template v-slot:top>
                    <q-space></q-space>
                    <q-input
                      standout
                      dense
                      debounce="300"
                      color="primary"
                      v-model="itemsTable.search"
                    >
                      <template v-slot:append>
                        <q-icon name="search" />
                      </template>
                    </q-input>
                  </template>
                  <template v-slot:header="props">
                    <q-tr :props="props">
                      <q-th auto-width></q-th>
                      <q-th auto-width></q-th>
                      <q-th
                        v-for="col in props.cols"
                        :key="col.name"
                        :props="props"
                        v-text="col.label"
                      ></q-th>
                    </q-tr>
                  </template>
                  <template v-slot:body-cell-tags="props">
                    <q-td :props="props">
                      <template v-if="props.row.tags && props.row.tags.length">
                        <q-chip
                          v-for="tag in props.row.tags"
                          :key="tag"
                          dense
                          color="primary"
                          text-color="white"
                          class="q-mr-xs q-mb-xs"
                        >
                          {{ tag }}
                        </q-chip>
                      </template>
                      <span v-else>-</span>
                    </q-td>
                  </template>
                  <template v-slot:body="props">
                    <q-tr :props="props">
                      <q-td auto-width>
                        <q-btn
                          unlevated
                          size="sm"
                          color="pink"
                          dense
                          @click="deleteItem(props.row.id)"
                          icon="delete"
                        ></q-btn>
                      </q-td>
                      <q-td auto-width>
                        <q-btn
                          unlevated
                          size="sm"
                          color="accent"
                          dense
                          @click="showItemDialog(props.row.id)"
                          icon="edit"
                        ></q-btn>
                      </q-td>
                      <q-td
                        v-for="col in props.cols"
                        :key="col.name"
                        :props="props"
                      >
                        <template
                          v-if="
                            col.name === 'tags' &&
                            (Array.isArray(props.row.tags)
                              ? props.row.tags.length
                              : !!(props.row.tags || '').length)
                          "
                        >
                          <q-chip
                            v-for="tag in (Array.isArray(props.row.tags) ? props.row.tags : (props.row.tags || '').split(','))"
                            :key="tag"
                            dense
                            color="primary"
                            text-color="white"
                            class="q-mr-xs q-mb-xs"
                          >
                            <span v-text="tag"></span>
                          </q-chip>
                        </template>
                        <template v-else>
                          <span v-text="col.value"></span>
                        </template>
                      </q-td>
                    </q-tr>
                  </template>
                </q-table>
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>
      </div>
    </section>
    <section v-if="tab === 'orders'">
      <q-toolbar class="q-mb-md q-px-none">
        <q-btn
          color="primary"
          label="Refresh Stock Logs"
          @click="getStockLogsPaginated"
        ></q-btn>
      </q-toolbar>
      <q-card v-if="logs.length" class="q-pa-lg">
        <q-table
          flat
          bordered
          title="Stock Update Log"
          :rows="logs"
          :columns="stockLogsTable.columns"
          row-key="id"
          v-model:pagination="stockLogsTable.pagination"
          @request="getStockLogsPaginated"
          :loading="loadingStockLogs"
          no-data-label="No stock logs yet..."
          no-results-label="No results found"
        >
        </q-table>
      </q-card>
    </section>
    <section v-if="tab === 'settings'">
      <q-card class="q-pa-lg">
        <q-card-section class="row items-center">
          <div class="col">
            <div class="text-h6">
              <span v-if="inventory" v-text="inventory.name"></span>
              <span v-else>Inventory Settings</span>
            </div>
            <div class="text-subtitle2">
              <span v-if="inventory">
                ID:
                <span class="text-weight-bold" v-text="inventory.id"></span>
              </span>
              <br v-if="inventory" />
              <span v-if="inventory">
                Currency:
                <span
                  class="text-weight-bold"
                  v-text="inventory.currency"
                ></span>
              </span>
              <span v-else>Create your inventory to enable items.</span>
            </div>
          </div>
          <div class="col-auto">
            <q-btn
              color="primary"
              :label="inventory ? 'Edit Inventory' : 'Create Inventory'"
              @click="showInventoryDialog(inventory?.id)"
            ></q-btn>
          </div>
        </q-card-section>
      </q-card>
      <q-card class="q-pa-lg q-mt-md">
        <q-card-section class="row items-center">
          <div class="col">
            <div class="text-h6">Import / Export Items</div>
            <div class="text-subtitle2">
              Export your items as JSON or import them into this inventory.
            </div>
          </div>
          <div class="col-auto q-gutter-sm">
            <q-btn
              outline
              color="primary"
              label="Export Items (JSON)"
              :disable="!inventory"
              :loading="exportingItems"
              @click="exportItems"
            ></q-btn>
            <q-btn
              color="primary"
              label="Import Items"
              :disable="!inventory"
              :loading="importingItems"
              @click="triggerImportItems"
            ></q-btn>
            <input
              ref="importItemsInput"
              type="file"
              accept="application/json"
              style="display: none"
              @change="handleImportFile"
            />
          </div>
        </q-card-section>
      </q-card>
    </section>
  </div>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<style scoped>
  .text-section {
    display: flex;
    flex: 1;
  }

  .text-col {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
  }
  .description {
    flex: 1;
  }
  .wiggle-settings {
    animation: wiggle 1.2s ease-in-out infinite;
  }
  .inventory-item-card .item-title {
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 600;
    white-space: normal;
    word-break: break-word;
  }
  .inventory-item-card .item-description {
    font-size: 0.9rem;
  }
  .inventory-item-card .text-section {
    min-height: 160px;
  }
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(-10deg);
    }
    30% {
      transform: rotate(12deg);
    }
    45% {
      transform: rotate(-8deg);
    }
    60% {
      transform: rotate(6deg);
    }
    75% {
      transform: rotate(-4deg);
    }
  }
</style>
<script src="{{ static_url_for('inventory/static', path='js/utils.js') }}"></script>
<script src="{{ static_url_for('inventory/static', path='js/index.js') }}"></script>
<script src="{{ static_url_for('inventory/static', path='components/item-card.js') }}"></script>
<script src="{{ static_url_for('inventory/static', path='components/photo-gallery-form.js') }}"></script>
{% endblock %}
